<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                class="fas fa-user-secret me-2"></i>E-CHEST</div>
        <div class="list-group list-group-flush my-3">
            <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-tachometer-alt me-2"></i>Dashboard
            </a>
            <a href="/admin/produk" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-project-diagram me-2"></i>Produk
            </a>
            <a href="/admin/order" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-chart-line me-2"></i>Pemesanan
            </a>
            <a href="/admin/kembalian" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-project-diagram me-2"></i>Kembalian
            </a>
            <a href="/admin/transaksi" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-shopping-cart me-2"></i>Riwayat Pemesanan
            </a>
            <a href="/admin/pemasukan" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-shopping-cart me-2"></i>Pemasukan
            </a>
            <a href="/admin/pengeluaran" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-shopping-cart me-2"></i>Pengeluaran
            </a>
            <a href="/admin/ulasan" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-project-diagram me-2"></i>Ulasan Produk
            </a>
            <a href="/admin/user" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="fas fa-project-diagram me-2"></i>Akun User
            </a>
            <a href="/admin/logout" class="list-group-item list-group-item-action bg-transparent text-danger active">
                <i class="fas fa-power-off me-2"></i>Logout
            </a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0" id="title">Dashboard</h2>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-2"></i><%= admin.username %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/profile/<%= admin.id_admin %> ">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>        